.google img {
  width: 25px;
}

.google {
  font-size: 14px;
}

.signuplink {
  text-decoration: none !important;
  color: #bba55a;
}

.nsm7Bb-HzV7m-LgbsSe {
  border: none !important;
  display: flex !important;
  gap: 10px !important;
}

#pwdHintsItem {
  color: black !important;
  font-size: 13px !important;
}


.forgetpassword {
  font-size: 12px;
  color: rgb(0, 112, 156);
  text-align: end;
  margin-top: 5px;
  margin-bottom: 0;
  cursor: pointer;
}

.signuplink{
  text-decoration: none !important;
  color: rgb(0, 112, 156);
}