.market-page {
    font-family: Helvetica;
    padding: 0; /* removed side padding */
    overflow: hidden !important;
    background-color: #fff;
    margin: 0 auto;
    max-width: 100%;
  }

  
  @media (min-width: 701px) {
    .market-page {
      max-width: calc(100% - 160px);
    }
  }
  
  .marketHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .marketImage {
    object-fit: cover;
    margin-right: 25px;
  }
  

  .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: left;
  }

  .title {
    font-size: 50px;
    color: white !important;
    font-weight: bold;
    margin-right: 800px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    margin-top: 50px;
    transform: translateY(-50px);
    animation: fadeInTitle 1.5s ease-in-out forwards;
  }
  @keyframes fadeInTitle {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .description {
    font-size: 20px;
    color: #ff8800;
    text-align: justify;
    max-width: 100%;
    line-height: 1.4;
    margin: 5px 0 10px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    margin-right: 670px;
    transform: translateX(50px);
    animation: fadeInText 1.5s ease-in-out 0.5s forwards
  }

  @media screen and (max-width: 540px) {

    .overlay {
        position: absolute;
        bottom: 0;
       
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.6); 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: left;
      }
      .title {
        font-size: 25px;
        color: white !important;
        font-weight: bold;
        margin-right: 140px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
        white-space: nowrap;
        margin-right: 230px;
      }
      .description {
        font-size: 12px;
        color:#FF9900;
        text-align: justify;
        max-width: 90%;
        line-height: 1.4;
        margin: 5px 0 10px 0;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
      }
  }